@charset "UTF-8";
@font-face {
    font-family:'playstation';
    src: url(fonte/zrnic\ rg.otf) format(opentype);
}
:root{
    --cor-fundo:#161D53;
    --cor-fundo-lista:#4054ED;
    --cor-titulos:#258be3;
    --cor-fundo-titulos:#3F446E;

    --fonte-padrao:arial,helvetica,sans-serif;
    --fonte-titulos:playstation;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: var(--cor-fundo);
}
header{
    background-image: linear-gradient(to right ,#258be3, white);
    margin-bottom:10px;
}
header > h1{
    text-align: center;
    padding:10px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199)
}
header > h2{
    text-align: center;
    padding:5px;
    color: var(--cor-titulos);
    font-size: 2em;
    font-weight: normal;
}
nav{
    margin-bottom:10px;
}
nav > a{
    padding:10px;
    color:white;
    text-decoration: none;
}
nav > a:hover{
    color:var(--cor-titulos);
    background-color: black;
    text-decoration: underline;
}
main{
    background-color: white;
    margin:auto;
    min-width:600px;
    max-width:1000px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349)
}
strong{
    color: var(--cor-fundo-titulos);
}
p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    line-height: 20px;
    text-indent: 30px;
    margin:5px;
    padding:5px;
}
main h1{
    color: var(--cor-titulos);
    padding:5px;
    background-color: var(--cor-fundo-titulos);
    text-align: center;
    font-size:1.5em;
    font-weight: bolder;
}
main a{
    color: var(--cor-titulos);
    background-color: var(--cor-fundo);
    padding:2px;
    margin:5px 0px;
}
img{
    width:50%;
    margin:auto;
    display:block;
}
div.video{
    background-color:var(--cor-titulos);
    margin:0px -10px 30px -10px;
    padding:20px;
    position:relative;
    padding-bottom:50%;
}
div.video > iframe{
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}

aside{
    background-color: var(--cor-fundo-titulos);
    padding:10px;
    border-radius:10px 10px 0px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.103)
}
aside ul{
    list-style-position: inside;
    list-style-type: square;
}
aside h2{
    background-color: var(--cor-fundo-lista);
    padding:10px;
    margin:-10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}
footer{
    color:white;
    text-align: center;
    margin:10px;
    padding:5px;
}
footer strong{
    color: var(--cor-titulos);
}